*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#home{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}
#home #left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 45%;
    height: 100vh;
}

#left i{
    font-size: 60px;
    color: rgb(21, 87, 231);
    margin-bottom: 10px;
}

#left h1{
    font-size: 55px;
    margin-bottom: 15px;
}

#left h4{
    opacity: .3;
    font-size: 22px;
}

#left h3{
    font-size: 20px;
}

#bottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    padding: 10px 12px;
    z-index: 9999;
    background-color: #fff;
    width: 90%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.btmelem{
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    height: 100px;
}

.btmelem h5{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 12px;
    color: rgb(80, 130, 238);
    margin-bottom: 10px;
}

.btmelem h4{
    opacity: .4;
}

#circle{
    position: absolute;
    top: 50%;
    right: -26%;
    transform: translate(0,-50%);
    border-radius: 50%;
    width: 130vh;
    height: 130vh;
    border: 2px solid rgba(58, 59, 63, 0.1);
}


#innercircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 2px solid rgba(80, 152, 234, 0.639);
}

#maincircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 92%;
    height: 92%;
    background-color: rgb(21, 87, 231);
}
#card1{
    z-index: 69;
    position: absolute;
    top: 20%;
    left: -15%;
    padding: 20px;
    width: 50%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 10px;
}

#card1 p{
    margin-top: 5px;
    opacity: .3;
    font-weight: 600;
}

#card1 #progress{
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: #dadada;
    margin-top: 20px;
}

#card1 #progress #growth{
    width: 50%;
    height: 100%;
    border-radius: 100px;
    background-color: rgb(21, 87, 231);
}

#card2{
    position: absolute;
    top: 25%;
    left: 20%;
    padding: 20px;
    width: 40%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 10px;
}

#card2>p{
    margin-top: 10px;
    opacity: .3;
    font-weight: 600;
}

#card2 .tab{
    margin-top: 10px;
    padding: 10px 15px;
    display: flex;
    border: 1px solid #dadada;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

#card2 .selected{
    background-color: rgba(21, 87, 231, .1);
    border: 1px solid rgb(21, 87, 231);
}

.tableft{
    display: flex;
}

.tableft i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: rgb(21, 87, 231);
    color: #fff;
    border-radius: 5px;
}

.tabtext{
    margin-left: 10px;
}

.tabtext p{
    font-size: 12px;
    font-weight: 600;
}
#card3{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 34%;
    right: 34%;
    width: 75%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.5);
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 10px;

}
.card3elem{
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    
    width: 32%;
}
.selectedcard{
    background-color: rgb(220, 233, 220);
}



#card3 .selectedcard  i{
    font-size: 22px;
    color: rgb(81, 160, 81);
    
}

.card3elem i{
    color: rgb(80, 130, 238);
    font-size: 20px;
}
#second{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 30px;
     
    /* overflow: hidden;
    background-color: #c6c4c4; */
}

#second #circle{
    height: 80vh;
    width: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    position: absolute;
    border: 6px solid #eeeeee;
}
#second #circle #minicircle{
    height: 30vh;
    position: absolute;
    width: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color:rgba(21, 87, 231, .1);
}

#second #circle #text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#circle p{
    margin-bottom: 30px;
    width: 100%;
    line-height: 1.7;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}

#circle h4{
    font-size: 20px;
    color: rgb(21, 87, 231);
}

#circle h6{
    opacity: .4;
}
#plane{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 20px;
    /* background-color: aqua; */
    animation-name: a;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

#micro{
    position: absolute;
    left: -13px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(21, 87, 231);
}
 @keyframes a{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
} 
#second>h4{
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(0%,-50%);
    transform-origin: 50%;
    transform: rotate(90deg);
}
#second>h4{
    opacity: .1;
}
#three{
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    /* background-color: #dadada; */
}  
#left{
    width: 35%;
    height: 100%;
    background-color: #eee9e9da;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
    /* line-height: 40px; */
    gap: 20px;
    

}
a{
    text-decoration: none;
}
#ab {
   
    display: flex;
    gap: 20px;
    margin-right: 90px;
    text-decoration: none;
}
#right{
    padding: 100px;
    width: 65%;
    height: 100%;
    /* background-color: rgb(235, 246, 246); */
}
#right>h4{
    opacity: .5;
    position: relative;
    top: -10%;
    left: 90%;
    transform: translate(-50%,-50%);
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.row .elem{
    height: 120px;
    width: 120px;
    background-color: rgb(119, 107, 232);
    border-radius: 50%;
    
}
.new{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 60%;
    top: -30px;
    

}
.elem>h4{
    position: relative;
    top: 130px;
}
.elem>h5{
    position: relative;
    top: 130px;
}